name: MEAN App CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t avinash9348/mean-backend:latest ./backend

      - name: Build Frontend Image
        run: docker build -t avinash9348/mean-frontend:latest ./frontend

      - name: Push Backend Image
        run: docker push avinash9348/mean-backend:latest

      - name: Push Frontend Image
        run: docker push avinash9348/mean-frontend:latest
